In [4]:
from utilmy import pd_read_file
df = pd_read_file('./dataset.csv')
df.head()

   Copper_Price        Date  Day  ...  Silver_Price   US_CPI  Year
0        3.6590  2013-02-19   19  ...        29.448  232.773  2013
1        3.6170  2013-02-20   20  ...        28.622  232.773  2013
2        3.5620  2013-02-21   21  ...        28.699  232.773  2013
3        3.5425  2013-02-22   22  ...        28.460  232.773  2013
4        3.5520  2013-02-25   25  ...        28.987  232.773  2013

[5 rows x 23 columns]